body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    position: fixed;
    z-index: 999;
    width: 100vw;
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.footerdiv1{
     margin-left:30px;
}
.omnifood-logo{
    width: 200px;
    height: 30px;
}
.footerul{
    list-style: none;
}
.footerli{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 550;
    float: left;
    margin-left: 15px;
    margin-right: 25px;
}
.footerli:hover{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 550;
    float: left;
    margin-left: 15px;
    margin-right: 25px;
}
.footera{
    text-decoration: none;
    color:black;
}
.footera:hover{
    font-family: 'Open Sans', sans-serif;
    color: #dd9741;
    font-size: 20px;
    font-weight: 550;
}
.orangeli{
    background-color: #e67e22;
    color: white;
    text-align: center;
    padding-top: 1%;
    width:120px ;
    height: 40px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 550;
    float: left;
    margin-left: 15px;
    margin-right: 25px;
}
.orangeli:hover{
    background-color: #d8853c;
    width:120px ;
    height: 40px;
    border-radius: 10px;
    float: left;
    margin-left: 15px;
    margin-right: 25px;
}
.orangea{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align: center;
    padding-top: 1%;
    text-decoration: none;
}
.main{
    width: 100%;
    height:auto;
    padding-top: 8%;
}
.face{
    background-color: #fdf2e9;
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 30px;
}
.faceleft{
    width: 50%;
    height:auto ;
    padding-right: 3%;
}
.p1{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 10%;
    margin-top: 8%;
}
.p2{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgb(39, 39, 39);
    text-align: left;
    margin-left: 10%;
    margin-top: 8%;
}
.startlearn{
    display: flex;
    justify-content: space-between;
}
.start{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color:#e67e22;
    display: inline-block;
    margin-left: 50px;

}
.start:hover{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color:#ce8341;
    margin-left: 50px;
}
.starta{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration:none;
    margin:10%;
}
.learn{
    width: 170px;
    height: 40px;
    border-radius: 10px;
    background-color:#ffffff;
    display: inline-block;
}
.learn:hover{
    width: 170px;
    height: 40px;
    border-radius: 10px;
    background-color:#fdf2e9;
    display: inline-block;
}
.learna{
    font-family: 'Open Sans', sans-serif;
    color:#555555 ;
    font-size: 20px;
    font-weight: 700;
    text-decoration:none;
    margin:10%;
}
.person250{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding-left: 15px;
}
.persons{
    width:60% ;
    display: flex;
    text-align: center;
}
.imgperson{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:3px solid #fdf2e9;
    margin-right: -15px;
}
.meals250{
    width: 45%;
}
.p250{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #cf711f;
}
.spanmeals{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #d3b1b1;
}
.faceright{
    width: 50%;
}
.hero{
    width: 90%;
    height: 500px;
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.feautured{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}
.as{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #7f7f7f;
   text-align: center;
   margin-top: 2%;
   margin-bottom: 2%;
   padding: 0;
}
.logo{
    width: 15%;
    height: 50px;
}
.logos{
    filter: brightness(0);
    opacity: 50%;
}
.section1{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 5%;
    padding-top: 8%;
}
.phow{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #cf711f;
}
.pyour{
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 900;
    color: #000000;
}
.tellphone1{
    width: 100%;
    display: flex;
    justify-content: space-between;
     margin-top: 2%;
}
.tell{
    width: 50%;
}
.tell2{
    width: 50%;
}
.middle{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}
.normal{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #8f8f9f;
    margin-top: 2%;
}
.tiv{
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    font-weight: 900;
    color: #d8d8d8;
    margin-top: 4%;
}
.phone1{
    width: 50%;
    margin-left: 15%;
}
.phone{
    width: 60%;
    height:300px ;
}
.tellphone2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.phone2{
    width: 40%;
    margin-left: 5%;
}
.textmeals{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align:center ;
    color: #cf711f;
}
.textomnifood{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 900;
    text-align:center ;
    color: #000000;
    margin-top: 2%;
}
#meals{
    background-color:#fbfbfb ;
    margin-bottom: 5%;
}
.all3{
    display: flex;
    justify-content: space-around;
}
.japanes{
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    margin-top: 10%;
}
.japanes:hover{
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    transform: translate(0,-50px);
    transition: all 0.5s;
}
.japimg{
    
    height: 200px;
    background-image: url(meal-1.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.japdiv{
    height: 300px;
    margin-left: 3%;
    margin-right: 3%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.vegeterian{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    background-color:#51cf66 ;
    border-radius: 10px;
    margin-top:30px;
    margin-left: 40px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100px;
}
.title{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-top: 5%;
   margin-left: 15%;
}
.mealsul{
    list-style: none;
    margin-left: 15%;
    margin-top:5% ;
    font-family: 'Open Sans', sans-serif;
    color:#6a6a6a ;
    font-size: 18px;
    font-weight: 500;
}
.fire{
    list-style-image: url(fire.png);
    margin-bottom: 2%;
}
.spoon{
    list-style-image: url(spoon.png);
    margin-bottom: 2%;
}
.star{
    list-style-image: url(star.png);
    margin-bottom: 2%;
}
.vegan{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    background-color:#51cf66 ;
    border-radius: 10px;
    margin-top:8%;
    float: left;
    margin-left: 15%;
    padding-left: 2%;
    padding-right: 2%;
}
.paleo{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    background-color:#ffd43b;
    border-radius: 10px;
    margin-top:8%;
    float: left;
    margin-left: 50px;
    padding-left: 2%;
    padding-right: 2%;
}
.meal2img{
    
    height: 200px;
    background-image: url(meal-2.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.diet{
    width: 30%;
    border-radius: 20px;
    background-color: white;
    margin-top: 10%;
}
.works{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-left: 5%;
    margin-top: 2%;
}
.worksli{
    list-style: none;
    margin-left: 10%;
    font-family: 'Open Sans', sans-serif;
    color:#6a6a6a ;
    font-size: 18px;
    font-weight: 500;
}
.check{
    list-style-image: url(checkmark.png);
    margin-top: 3%;
}
.see{
    font-family: 'Open Sans', sans-serif;
    color: #ec9222;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40%;
    text-decoration: underline;
}
.see:hover{
    font-family: 'Open Sans', sans-serif;
    color: #c27e2a;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40%;
    text-decoration: none;
    transition: all 0.5s;
}
.section3{
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    background-color:#fdf2e9 ;
    display: flex;
}
.test{
    width: 50%;
    padding-top: 30%;
}
.once{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 900;
    color: #000000;
    margin-top: 2%;
}
.daveben{
    display: flex;
}
.ben{
    margin-top: 15%;
    margin-right: 2%;
}
.imgcircle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.about{
    font-family: 'Open Sans', sans-serif;
    color:#6a6a6a ;
    font-size: 16px;
    font-weight: 500;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(6,200px);
    gap: 10px;
    margin-left: 15%;
    margin-top: 15px;
}
.item{
    width: 200px;
    height: 200px;
    padding: 10px;
    overflow: hidden;
}
.item:hover{
   display: block;
    width: 200px;
    height: 200px;
    transition: all 0.5s;
    padding: 0;
}
.allprices{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.starter{
    width: 40%;
    border: 2px solid #fdf2e9;
    border-radius: 10px;
    padding-bottom: 50px;
}
.title1{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #cf711f;
    text-align: center;
    margin-top: 50px;
}
.number{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #000000;
    text-align: center;
}
.per{
    font-family: 'Open Sans', sans-serif;
    color:#6a6a6a ;
    font-size: 15px;
    font-weight: 500;
    margin-left: 60px;
    margin-top: 10px;
}
.check1{
    list-style: none;
    margin-left: 100px;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    color:#6a6a6a ;
    font-size: 18px;
    font-weight: 500;
}
.mark{
    list-style-image: url(checkmark.png);
    margin-top: 10px;
}
.mark1{
    list-style-image: url(mark1.png);
    margin-top: 10px;
}
.well{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color:#e67e22;
    display: inline-block;
    margin-left: 80px;
    margin-top: 50px;
}
.well:hover{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color:#ce8341;
    margin-left: 80px;
    margin-top: 50px;
}
.complete{
    width: 40%;
   background-color:  #fdf2e9;
    border-radius: 10px;
    padding-bottom: 50px;
}
.include{
    font-family: 'Open Sans', sans-serif;
    color:#6a6a6a ;
    font-size: 15px;
    font-weight: 500;
    margin-left: 200px;
    margin-top: 50px;
}
.section7{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.never{
    width: 20%;
    margin-left: 20px;
}
.endless{
    background-color:#f0e8e2 ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.infi{
    color: #ce8341;
    width: 60px;
    text-align: center;
    font-size: 30px;
    margin-left: 10px;
}
.blacktext{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #000000;
    margin-top: 10px;
}
.our{
    font-family: 'Open Sans', sans-serif;
    color:#6a6a6a ;
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px;
}
.section8{
    width: 100%;
    background-color: #ffffff;
    margin-top: 120px;
    padding-top: 130px;
    padding-bottom: 150px;
}
.try{
    width: 900px;
    border-radius: 10px;
    display: grid;
   grid-template-columns:60% 40%;
   margin-left: 50px;
   margin-right: 50px;
}
.orange{
    background-color:#e88b38 ;
    padding-left: 50px;
    padding-right:50px ;
    padding-bottom: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.get{
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight: 900;
    margin-top: 40px;
}
.form{
    margin-top: 50px;
}
.input{
   width: 200px;
   height: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 8px;
    margin-top: 5px;
    background-color:#fdf2e9 ;
}
.near{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.titles{
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 700;
}
.sign{
    width: 200px;
   height: 30px;
   border-radius: 5px;
    border: none;
    margin-top: 22px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color:#45260a ;
}
.sign:hover{
    width: 200px;
   height: 30px;
   border-radius: 5px;
    border: none;
    margin-top: 22px;
    font-family: 'Open Sans', sans-serif;
    color:rgb(139, 138, 138) ;
    font-size: 18px;
    font-weight: 700;
    background-color:white ;
    transition: all 0.5s;
}
.girl{
    background-image: linear-gradient( to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35) ), url(eating.jpg);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.footer{
    width: 100%;
    border-top:1px solid #b1adad;
    padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;
}
.ending{
    display: grid;
    grid-template-columns:repeat(5,20%);
   gap: 10px;
   justify-content: space-between;
}
.omnifoodlogo{
    width: 150px;
    height: 20px;
}
.inft{
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}
.inst{
    color: #8d8b8b;
}
.small{
    font-family: 'Open Sans', sans-serif;
    color:#6a6a6a ;
    font-size: 15px;
    font-weight: 500;
    margin-top: 80px;
}
.smalll{
    font-family: 'Open Sans', sans-serif;
    color:#6a6a6a ;
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;
}
.contact{
    font-family: 'Open Sans', sans-serif;
    color:#6a6a6a ;
    font-size: 18px;
    font-weight: 700;
}
.contactul{
    list-style: none;
    margin-top: 30px;
}
.lis{
    margin-top: 10px;
}
.contacta{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color:#6a6a6a ;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
.contacta:hover{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color:#413f3f ;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
.contacta:active{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color:#413f3f ;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    border: 5px solid #df9f3f;
}